.app {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.head-img {
  width: 30px;
  height: auto;
}

.start-box {
  display: flex;
  gap: 40px;
}

.header button {
  border: none;
  background-color: rgb(38, 38, 202);
  border-radius: 7px;
  padding: 10px;
  color: aliceblue;
  width: 100%;
  cursor: pointer;
}

.header button:disabled {
  background-color: rgb(84, 84, 90);
  cursor: default;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box input {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(168, 166, 163);
  border: none;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.display-user {
  color: aqua;
  font-size: 18px;
}
