.app {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.head-img {
  width: 30px;
  height: auto;
}

.start-box {
  display: flex;
  gap: 40px;
}

.btn {
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: aliceblue;
  cursor: pointer;
}

.btn-start {
  background-color: rgb(38, 38, 202);
  width: 100%;
}

.btn-start:hover {
  background-color: rgb(36, 36, 177);
}

.btn-reset {
  background-color: rgb(145, 145, 197);
  width: 100%;
}

.btn-reset:hover {
  background-color: rgb(126, 126, 172);
}

.header button:disabled {
  background-color: rgb(84, 84, 90);
  cursor: default;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box input {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(168, 166, 163);
  border: none;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.display-user {
  color: aqua;
  font-size: 18px;
}

@media only screen and (max-width: 1068px) {
  .app {
    flex-direction: column;
    gap: 0;
  }

  h1 {
    font-size: 20px;
  }
}
